<div class="main">
    <h2>Profile</h2>
    <div class="main__tbinding">
        <div class="main__form">
            <div class="main__form__name">
                <p>Name : </p>
                <input type="text" name="name" [(ngModel)]="name" placeholder="Enter your name">
            </div>
            <div class="main__form__name">
                <p>Email : </p>
                <input type="text" name="name" [(ngModel)]="mail" placeholder="Enter your email">
            </div>
        </div>


        <h4>Your name is : {{name}}</h4>
        <h4>Your mail is : {{mail}} </h4>

    </div>


</div>